<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eemc.aida" >

 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
    <application
		android:name=".App"
	    android:largeHeap="true"
        android:icon="@mipmap/aida_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
			android:process=":com.skytnt.elfbox.mainactivity"
			>
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".DisasmActivity"
			android:label="Disasm"
		    android:process=":com.skytnt.elfbox.disasmactivity"
			>
    	</activity>
		<activity android:name=".CrashActivity"
			android:label="Crash"
		    android:process=":com.skytnt.elfbox.crashactivity"
			>
    	</activity>
	</application>

</manifest>
